@import '../../styles/variables';
.breadcrumb {
    padding: 0;
    font-size: $font-size-2;
    color: $mediumGray;
    display: -webkit-box;
    list-style-type: none;
    width: 78%;
    margin: 0 auto;
    .breadcrumb-item+.breadcrumb-item::before {
        content: "> ";
    }
    .breadcrumb-item:last-child {
        font-weight: bold;
    }
}