// COLOURS
$yellowMeli: #FFE600;
$softGray: #eeeeee;
$blackMeli: #333333;
$mediumGray: #666666;
$grayMeli: #999999;
$blueButton: #3483FA;
$white: #FFFFFF;
// FONTS
$muli-font: 'Muli';
// SIZE
$space-size-1: 16px;
$space-size-2: 32px;
$space-size-3: 15px;
// FONT SIZE
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 24px;
$font-size-6: 28px;
$font-size-7: 46px;
// CUSTOM CONTAINER
$image-size: 180px;
$product-size: 680px;